.App {
  text-align: center;
}

#searchBar {
  width: 80%;
  padding: 1rem;
  margin:  1rem 2rem;
}

table {
  width: 80%;
  margin: 2rem auto;
}

table, thead, tbody, tr {
  border: 1px solid;
  border-collapse: collapse;
  padding: 1rem;
}

th, td {
  padding: 1rem;
}

th {
  background-color: lightgrey;
}

.red {
  color: crimson;
}